<div class='bill_form'>

  <%= form_for [@user, @bill] do |f| %>
    
    <h3>
    <%= f.label :title, 'Title:  ' %>
    <%= f.text_field :title %>
    </h3>
    <br>
    <h3>
    <%= f.label :due_at, 'Due:  ' %>
    <%= f.date_select :due_at, start_year: 2015, end_year: 2020 %>
    </h3>
    <br>
    <h3>
    <%= f.label :amount, 'Amount:  $' %>
    <%= f.text_field :amount %>
    </h3>
    <br>
    <h3>
    <%= f.label :paid %>
    <%= f.check_box :paid %> 
    </h3>
    <br>
    <div class='button' ><%= f.submit %></div>
    
  <% end %>




</div>