<div class='nav-bar'>
  <div class='left_nav'>
    <p class='icon'><%= link_to 'BillGasm', root_path %></p>
  </div>

  <div class='right_nav'>
    <p class='nav-links'>
      <ul>
        <% if user_session %>
          <li><%= link_to 'Bills', user_bills_path(current_user) %></li>
          <li><%= link_to 'Stats' %></li>
          <li><%= link_to 'Log-Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign-Up', new_user_registration_path %></li>
          <li><%= link_to 'Log-In', new_user_session_path %></li>
        <% end %>
      </ul>
    </p>
  </div>

</div>